<div class="wrap">
    <div class="row">
        <div class="intro">
            <h1 class="intro-title bolder">눈누난나 서비스 안내</h1>
            <p class="intro-ex">눈누난나는 한 명의 디자이너와 두 명의 개발자가 운영하는 서비스입니다.<br>
            눈누는 <strong class="c-green">상업적 이용 가능한 무료 폰트 모음</strong> 서비스이며<br>
            난나는 <strong class="c-green">폰트를 찾습니다</strong> 서비스입니다.<br>
            이 서비스는 <strong class="c-green">구글 애드센스 광고와 후원</strong>으로 운영되고 있습니다.<br>
            서비스를 유용하게 이용하고 계시다면, 무보수로 이 서비스를 운영하고 있는<br>
            눈누난나의 팀원이 생각날 때 가끔씩 구글 광고를 한 번씩 눌러주세요.</p>
            
            <div class="intro-more">
                <p class="intro-ex"><strong class="bold">※ 폰트 제보 받고 있습니다 ※</strong><br>
                1. 한글인 2. 상업적으로 이용할 수 있는 3. 무료 폰트를 아시는 분은<br>
                아래 오픈채팅으로 제보해주세요.
                </p>
                
                <br>
                <p class="intro-ex">
                <a class="c-btn" href="https://open.kakao.com/o/stwEGqy" target="_blank">
                    눈누난나 오픈채팅</a>
                </p>
            </div>
            <div class="intro-add">
                <span class="intro-ex-add">
                        ※ 폰트의 지적재산권은 각 폰트 제작자 및 제작사에 있으며, 눈누난나는 폰트 제작자 및 제작사와 관련이 없는 단체임을 알려드립니다.<br>
                        <!--폰트 소프트웨어의 사용과 취급으로 발생하는 일에 대해서 눈누난나는 책임이나 의무를 가지지 않습니다.-->
                </span>
            </div>
        </div>
    </div>
</div>