<div class="wrap listPage">
    <div class="formWrap">
        <%= link_to '뒤로', posts_path, class:'c-btn' %>
        <div class="nannaListTitle bolder">어떤 폰트를 찾고있나요?</div>
        <%= render 'form' %>
        
    </div>
</div>