<div class="wrap listPage row">
    <form action= "/db_management/font_create" method ="POST">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="fontName" placeholder="폰트이름" >
        </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="companyName" placeholder="회사이름">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name ="font_style" placeholder="폰트 스타일">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea class="form-control" rows="5" name="font_cdn" placeholder="폰트_CDN"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="d_link" placeholder="다운로드링크">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="ph_content" placeholder="플레이스홀더">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>