


<div class="wrap listPage formWrap newForm">
    <span class="signup-title bolder">이메일 등록</span>

    <%= form_tag '/register/getEmail', method: "post",remote: true do%>
        <%=label_tag 'email', ''%>
        <%= email_field :email, params[:email] , placeholder: 'Email을 입력해주세요'%>
        
    <div class="form-actions">
        <%=submit_tag '등록 하기' ,class: "btn"%>
    
    </div>
    <%end%>
</div>

<script>

</script>