<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
        <title>Noonnu</title>
        <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="shortcut icon" href="favicon.ico">
        
        <meta name="description" content="상업적 이용 가능한 한글 폰트 모음 사이트" />
        
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        
        <!--webfont cdn -->
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
        
        <!-- jquery cdn -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
        
        <!-- fontawesome -->
        <script src="https://use.fontawesome.com/c94cb511ee.js"></script>
        
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
</head>
<body>
    

  <div class="header-wrap">
    <div class="header col xl12 s12 m12">
        <div class="logo-sec col xl2 s2 m2">
            <a href="/" onclick="history.go(0)">
            <svg width="60px" class="logo" viewBox="0 0 120 78" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs>
                    <polygon id="path-1" points="0.651085368 0.529444419 52.813143 0.529444419 52.813143 32.3425782 0.651085368 32.3425782 0.651085368 0.529444419"></polygon>
                </defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Desktop-HD" transform="translate(-248.000000, -51.000000)">
                        <g id="Page-1-Copy" transform="translate(248.000000, 51.000000)">
                            <g id="Group-3" transform="translate(0.000000, 0.346020)">
                                <mask id="mask-2" fill="white">
                                    <use xlink:href="#path-1"></use>
                                </mask>
                                <g id="Clip-2"></g>
                                <path d="M20.2361533,32.3425782 C16.2815098,32.3425782 12.7451711,32.188558 9.93867813,32.0686672 C8.87016303,32.0222862 7.90141101,31.9802807 7.05254971,31.9531521 C3.46282904,31.837637 0.651085368,28.9296307 0.651085368,25.3311588 L0.651085368,0.528656816 L8.52711805,0.528656816 L8.52711805,24.1252507 C9.07581499,24.1480037 9.66039164,24.1725069 10.2790978,24.1996355 C18.9532351,24.5741846 35.1034777,25.271651 47.4119665,20.3482555 L51.0673208,18.8859388 L52.5305126,22.5421682 C53.3382435,24.5610579 52.3554897,26.8538585 50.3366,27.6607143 L50.3366,27.6607143 C40.6595812,31.5322219 29.3417222,32.3425782 20.2361533,32.3425782" id="Fill-1" fill="#000000" mask="url(#mask-2)"></path>
                            </g>
                            <path d="M20.2370284,76.9724674 C16.2806347,76.9724674 12.7425458,76.8201974 9.93605278,76.6994316 C8.86753768,76.6530505 7.90053589,76.611045 7.05254971,76.5839164 C3.46282904,76.4684013 0.651085368,73.5595199 0.651085368,69.9619232 L0.651085368,49.0676836 L8.52711805,49.0676836 L8.52711805,68.7560151 C9.07493988,68.7787681 9.65864141,68.8041464 10.2747222,68.8295247 C18.95236,69.2040738 35.1026025,69.9032905 47.4119665,64.9790198 L51.0673208,63.515828 L52.5305126,67.1729325 C53.3382435,69.1918222 52.3563648,71.4846228 50.3374751,72.2914786 L50.3366,72.2914786 C40.658706,76.1621111 29.3425973,76.9724674 20.2370284,76.9724674" id="Fill-4" fill="#000000"></path>
                            <g id="Group-8" transform="translate(0.000000, 36.225725)" fill="#000000">
                                <path d="M58.6737306,0.467573807 L29.8334492,0.467573807 L25.9461895,0.366935611 L25.9435641,0.467573807 L-8.75114742e-05,0.467573807 L-8.75114742e-05,8.34360649 L25.7370371,8.34360649 L25.2968543,25.172063 L29.2339956,25.2762016 C31.4086557,25.332209 33.2166428,23.616109 33.2735252,21.4423239 L33.6156951,8.34360649 L54.7357143,8.34360649 C56.9094993,8.34360649 58.6737306,6.58025028 58.6737306,4.40559015 L58.6737306,0.467573807 Z" id="Fill-6"></path>
                            </g>
                            <path d="M71.1556672,42.4076229 C70.0880272,42.3612418 69.1184001,42.3183611 68.2704139,42.2912326 C64.6798181,42.1765926 61.8680744,39.2677112 61.8680744,35.6692393 L61.8680744,10.8667373 L69.7441071,10.8667373 L69.7441071,34.4642063 C70.2928041,34.4869593 70.8782558,34.5114625 71.4960868,34.537716 C80.1710993,34.9131402 96.322217,35.6097315 108.628956,30.6872111 L112.28431,29.2240193 L113.747502,32.8811238 C114.555233,34.8991384 113.573354,37.191939 111.554464,37.9987948 C101.877445,41.8703024 90.5595864,42.6806587 81.4540175,42.6806587 C77.4984989,42.6806587 73.9621602,42.5275136 71.1556672,42.4076229 Z" id="Fill-9" fill="#000000"></path>
                            <g id="Group-13" transform="translate(60.382917, 45.851987)" fill="#000000">
                                <path d="M59.5078025,0.834159372 L30.6465183,0.834159372 L26.7522577,0.75802439 L0.833984349,0.834159372 L0.833984349,8.71019205 L26.5991126,8.71019205 L26.1580548,31.4264205 L30.0943209,31.5034306 C32.268981,31.5454361 34.0664667,29.8170845 34.1084722,27.6424244 L34.4760204,8.71019205 L55.5697861,8.71019205 C57.7444463,8.71019205 59.5078025,6.94683585 59.5078025,4.77217571 L59.5078025,0.834159372 Z" id="Fill-11"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            </a>
        </div>
        <div class="col xl8 s8 m8">
            <div class="mobile-menu-section row">
                <div class="search-icon">
                    <button class="search-btn menu-icon scrollup">
                    <svg width="23px" height="23px" viewBox="0 0 43 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Oval 3</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-HD" transform="translate(-926.000000, -71.000000)">
                                <g id="Oval-3" transform="translate(950.000000, 95.000000) rotate(-315.000000) translate(-950.000000, -95.000000) translate(924.000000, 76.000000)">
                                    <path d="M19,38 C8.50658975,38 0,29.4934102 0,19 C0,8.50658975 8.50658975,0 19,0 C29.4934102,0 38,8.50658975 38,19 C38,29.4934102 29.4934102,38 19,38 Z M19,34 C27.2842712,34 34,27.2842712 34,19 C34,10.7157288 27.2842712,4 19,4 C10.7157288,4 4,10.7157288 4,19 C4,27.2842712 10.7157288,34 19,34 Z" fill-rule="nonzero"></path>
                                    <rect id="Rectangle-4" fill-rule="evenodd" x="36" y="17" width="16" height="4" rx="2"></rect>
                                </g>
                            </g>
                        </g>
                    </svg>
                    </button>
                    
                    <a class="menu-icon" href="/pick" onclick="history.go(0)">
                    <svg width="25px" height="25px" viewBox="0 0 42 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-HD" transform="translate(-987.000000, -68.000000)" fill-rule="nonzero" >
                                <path d="M1007.26792,92.552714 C1000.49217,92.552714 995,87.0560343 995,80.276357 C995,73.4966797 1000.49217,68 1007.26792,68 C1014.04368,68 1019.53585,73.4966797 1019.53585,80.276357 C1019.53585,87.0560343 1014.04368,92.552714 1007.26792,92.552714 Z M1007.26792,88.552714 C1011.8338,88.552714 1015.53585,84.8476302 1015.53585,80.276357 C1015.53585,75.7050838 1011.8338,72 1007.26792,72 C1002.70204,72 999,75.7050838 999,80.276357 C999,84.8476302 1002.70204,88.552714 1007.26792,88.552714 Z" id="Oval-4"></path>
                                <path d="M1028.56172,113.796287 C1028.56172,102.311182 1019.25818,93 1007.78086,93 C996.30354,93 987,102.311182 987,113.796287 L991,113.796287 C991,104.519587 998.513415,97 1007.78086,97 C1017.04831,97 1024.56172,104.519587 1024.56172,113.796287 L1028.56172,113.796287 Z" id="Oval-5"></path>
                            </g>
                        </g>
                    </svg>
                    </a>
                 <% if !user_signed_in? %>
                    <a class="menu-icon" href="/users/sign_in">
                    <svg height="25px" viewBox="0 0 45 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-HD" transform="translate(-850.000000, -68.000000)">
                                <polygon id="Line-2"  fill-rule="nonzero" points="850.6972 92.8095238 877.710879 92.8095238 877.710879 88.8095238 850.6972 88.8095238"></polygon>
                                <polygon id="Triangle-2"  fill-rule="nonzero" points="867.032027 98.3555683 869.361347 101.474151 882.421758 90.9610188 869.393373 80 867 83.0658681 876.303083 90.8927221"></polygon>
                                <path d="M894.6972,111.619048 L894.6972,113.619048 L850.6972,113.619048 L850.6972,111.619048 L850.6972,99.7619048 L854.6972,99.7619048 L854.6972,109.619048 L890.6972,109.619048 L890.6972,72 L855.011752,72 L855.011752,82.2380952 L850.6972,82.2380952 L850.6972,68 L852.854476,68 L892.6972,68 L894.6972,68 L894.6972,111.619048 Z" id="Combined-Shape" ></path>
                            </g>
                        </g>
                    </svg>
                    </a>
                <% else %>
                   
    
                    <a class="menu-icon" href="/users/sign_out" data-method='delete'>
                    <svg width="25px" height="25px" viewBox="0 0 44 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-HD" transform="translate(-751.000000, -68.000000)">
                                <polygon id="Line-2-Copy" fill="#979797" fill-rule="nonzero" transform="translate(770.506840, 91.000000) rotate(-180.000000) translate(-770.506840, -91.000000) " points="757 93 784.01368 93 784.01368 89 757 89"></polygon>
                                <polygon id="Triangle-2-Copy" fill="#979797" fill-rule="nonzero" transform="translate(758.710879, 90.737076) rotate(-180.000000) translate(-758.710879, -90.737076) " points="751.032027 98.3555683 753.361347 101.474151 766.421758 90.9610188 753.393373 80 751 83.0658681 760.303083 90.8927221"></polygon>
                                <path d="M795,111.619048 L795,113.619048 L751,113.619048 L751,111.619048 L751,99.7619048 L755,99.7619048 L755,109.619048 L791,109.619048 L791,72 L755.314552,72 L755.314552,82.2380952 L751,82.2380952 L751,68 L753.157276,68 L793,68 L795,68 L795,111.619048 Z" id="Combined-Shape-Copy" fill="#9B9B9B"></path>
                            </g>
                        </g>
                    </svg>
                    </a>
                <% end%>
                   
                    <a class="menu-icon" href="/donate">
                    <svg width="27px" height="27px" viewBox="0 0 53 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-HD" transform="translate(-637.000000, -4.000000)">
                                <g id="question" transform="translate(637.000000, 4.000000)">
                                    <path d="M26.3111549,52.6223099 C11.7799053,52.6223099 0,40.8424046 0,26.3111549 C0,11.7799053 11.7799053,0 26.3111549,0 C40.8424046,0 52.6223099,11.7799053 52.6223099,26.3111549 C52.6223099,40.8424046 40.8424046,52.6223099 26.3111549,52.6223099 Z M26.3111549,48.6223099 C38.6332656,48.6223099 48.6223099,38.6332656 48.6223099,26.3111549 C48.6223099,13.9890443 38.6332656,4 26.3111549,4 C13.9890443,4 4,13.9890443 4,26.3111549 C4,38.6332656 13.9890443,48.6223099 26.3111549,48.6223099 Z" id="Oval-4-Copy-3" fill-rule="nonzero"></path>
                                    <path d="M28.122,33.642 L28.122,32.084 C28.122,29.88 28.73,29.31 30.668,27.448 C33.024,25.206 35.19,23.306 35.19,19.582 L35.19,19.05 C35.19,14.908 31.96,11.944 26.374,11.944 C23.106,11.944 20.066,13.008 17.634,15.44 L20.294,18.784 C21.928,17.226 23.866,16.238 26.222,16.238 C29.224,16.238 30.326,17.644 30.326,19.202 L30.326,19.582 C30.326,21.558 29.908,22.318 26.526,25.434 C23.638,28.094 23.6,29.424 23.6,31.97 L23.6,33.642 L28.122,33.642 Z M23.372,41.736 L28.388,41.736 L28.388,36.796 L23.372,36.796 L23.372,41.736 Z" id="?-copy" fill-rule="evenodd"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    </a>
                </div>
            
            </div>
            
            </div>
            <div class="menu-section">
                <div class="search-icon">
                    <button class="search-btn menu-icon scrollup">
                    <svg width="23px" height="23px" viewBox="0 0 43 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Oval 3</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-HD" transform="translate(-926.000000, -71.000000)">
                                <g id="Oval-3" transform="translate(950.000000, 95.000000) rotate(-315.000000) translate(-950.000000, -95.000000) translate(924.000000, 76.000000)">
                                    <path d="M19,38 C8.50658975,38 0,29.4934102 0,19 C0,8.50658975 8.50658975,0 19,0 C29.4934102,0 38,8.50658975 38,19 C38,29.4934102 29.4934102,38 19,38 Z M19,34 C27.2842712,34 34,27.2842712 34,19 C34,10.7157288 27.2842712,4 19,4 C10.7157288,4 4,10.7157288 4,19 C4,27.2842712 10.7157288,34 19,34 Z" fill-rule="nonzero"></path>
                                    <rect id="Rectangle-4" fill-rule="evenodd" x="36" y="17" width="16" height="4" rx="2"></rect>
                                </g>
                            </g>
                        </g>
                    </svg>
                    </button>
                    
                    <a class="menu-icon" href="/pick" onclick="history.go(0)">
                    <svg width="25px" height="25px" viewBox="0 0 42 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-HD" transform="translate(-987.000000, -68.000000)" fill-rule="nonzero" >
                                <path d="M1007.26792,92.552714 C1000.49217,92.552714 995,87.0560343 995,80.276357 C995,73.4966797 1000.49217,68 1007.26792,68 C1014.04368,68 1019.53585,73.4966797 1019.53585,80.276357 C1019.53585,87.0560343 1014.04368,92.552714 1007.26792,92.552714 Z M1007.26792,88.552714 C1011.8338,88.552714 1015.53585,84.8476302 1015.53585,80.276357 C1015.53585,75.7050838 1011.8338,72 1007.26792,72 C1002.70204,72 999,75.7050838 999,80.276357 C999,84.8476302 1002.70204,88.552714 1007.26792,88.552714 Z" id="Oval-4"></path>
                                <path d="M1028.56172,113.796287 C1028.56172,102.311182 1019.25818,93 1007.78086,93 C996.30354,93 987,102.311182 987,113.796287 L991,113.796287 C991,104.519587 998.513415,97 1007.78086,97 C1017.04831,97 1024.56172,104.519587 1024.56172,113.796287 L1028.56172,113.796287 Z" id="Oval-5"></path>
                            </g>
                        </g>
                    </svg>
                    </a>
                 <% if !user_signed_in? %>
                    <a class="menu-icon" href="/users/sign_in">
                    <svg height="25px" viewBox="0 0 45 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-HD" transform="translate(-850.000000, -68.000000)">
                                <polygon id="Line-2"  fill-rule="nonzero" points="850.6972 92.8095238 877.710879 92.8095238 877.710879 88.8095238 850.6972 88.8095238"></polygon>
                                <polygon id="Triangle-2"  fill-rule="nonzero" points="867.032027 98.3555683 869.361347 101.474151 882.421758 90.9610188 869.393373 80 867 83.0658681 876.303083 90.8927221"></polygon>
                                <path d="M894.6972,111.619048 L894.6972,113.619048 L850.6972,113.619048 L850.6972,111.619048 L850.6972,99.7619048 L854.6972,99.7619048 L854.6972,109.619048 L890.6972,109.619048 L890.6972,72 L855.011752,72 L855.011752,82.2380952 L850.6972,82.2380952 L850.6972,68 L852.854476,68 L892.6972,68 L894.6972,68 L894.6972,111.619048 Z" id="Combined-Shape" ></path>
                            </g>
                        </g>
                    </svg>
                    </a>
                <% else %>
                   
    
                    <a class="menu-icon" href="/users/sign_out" data-method='delete'>
                    <svg width="25px" height="25px" viewBox="0 0 44 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-HD" transform="translate(-751.000000, -68.000000)">
                                <polygon id="Line-2-Copy" fill="#979797" fill-rule="nonzero" transform="translate(770.506840, 91.000000) rotate(-180.000000) translate(-770.506840, -91.000000) " points="757 93 784.01368 93 784.01368 89 757 89"></polygon>
                                <polygon id="Triangle-2-Copy" fill="#979797" fill-rule="nonzero" transform="translate(758.710879, 90.737076) rotate(-180.000000) translate(-758.710879, -90.737076) " points="751.032027 98.3555683 753.361347 101.474151 766.421758 90.9610188 753.393373 80 751 83.0658681 760.303083 90.8927221"></polygon>
                                <path d="M795,111.619048 L795,113.619048 L751,113.619048 L751,111.619048 L751,99.7619048 L755,99.7619048 L755,109.619048 L791,109.619048 L791,72 L755.314552,72 L755.314552,82.2380952 L751,82.2380952 L751,68 L753.157276,68 L793,68 L795,68 L795,111.619048 Z" id="Combined-Shape-Copy" fill="#9B9B9B"></path>
                            </g>
                        </g>
                    </svg>
                    </a>
                <% end%>
                   
                    <a class="menu-icon" href="/donate">
                    <svg width="27px" height="27px" viewBox="0 0 53 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-HD" transform="translate(-637.000000, -4.000000)">
                                <g id="question" transform="translate(637.000000, 4.000000)">
                                    <path d="M26.3111549,52.6223099 C11.7799053,52.6223099 0,40.8424046 0,26.3111549 C0,11.7799053 11.7799053,0 26.3111549,0 C40.8424046,0 52.6223099,11.7799053 52.6223099,26.3111549 C52.6223099,40.8424046 40.8424046,52.6223099 26.3111549,52.6223099 Z M26.3111549,48.6223099 C38.6332656,48.6223099 48.6223099,38.6332656 48.6223099,26.3111549 C48.6223099,13.9890443 38.6332656,4 26.3111549,4 C13.9890443,4 4,13.9890443 4,26.3111549 C4,38.6332656 13.9890443,48.6223099 26.3111549,48.6223099 Z" id="Oval-4-Copy-3" fill-rule="nonzero"></path>
                                    <path d="M28.122,33.642 L28.122,32.084 C28.122,29.88 28.73,29.31 30.668,27.448 C33.024,25.206 35.19,23.306 35.19,19.582 L35.19,19.05 C35.19,14.908 31.96,11.944 26.374,11.944 C23.106,11.944 20.066,13.008 17.634,15.44 L20.294,18.784 C21.928,17.226 23.866,16.238 26.222,16.238 C29.224,16.238 30.326,17.644 30.326,19.202 L30.326,19.582 C30.326,21.558 29.908,22.318 26.526,25.434 C23.638,28.094 23.6,29.424 23.6,31.97 L23.6,33.642 L28.122,33.642 Z M23.372,41.736 L28.388,41.736 L28.388,36.796 L23.372,36.796 L23.372,41.736 Z" id="?-copy" fill-rule="evenodd"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    </a>
                      <%if user_signed_in?%>
                        <%if current_user.admin?%>
                            <a class="adminIcon" href="/db_management">
                            
                                <svg width="28px" height="28px" viewBox="0 0 52 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Page-1-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Desktop-HD" transform="translate(-746.000000, -8.000000)" fill-rule="nonzero" fill="#979797">
                                            <path d="M774,57 L774,48.9517367 L775.531107,48.5824825 C778.205759,47.9374416 780.641542,46.5638478 782.585184,44.6279769 L783.670266,43.5472325 L790.485572,47.4820508 L792.485572,44.0179492 L785.7827,40.1480444 L786.278838,38.6100199 C786.754788,37.1345805 787,35.5850987 787,34 C787,32.6831493 786.830783,31.3905171 786.500148,30.1436312 L786.107857,28.6642263 L792.485572,24.9820508 L790.485572,21.5179492 L784.21198,25.140009 L783.128068,23.9416641 C781.108865,21.7092866 778.465429,20.1251825 775.531107,19.4175175 L774,19.0482633 L774,12 L770,12 L770,19.0482633 L768.468893,19.4175175 C765.534571,20.1251825 762.891135,21.7092866 760.871932,23.9416641 L759.78802,25.140009 L753.514428,21.5179492 L751.514428,24.9820508 L757.892143,28.6642263 L757.499852,30.1436312 C757.169217,31.3905171 757,32.6831493 757,34 C757,35.5850987 757.245212,37.1345805 757.721162,38.6100199 L758.2173,40.1480444 L751.514428,44.0179492 L753.514428,47.4820508 L760.329734,43.5472325 L761.414816,44.6279769 C763.358458,46.5638478 765.794241,47.9374416 768.468893,48.5824825 L770,48.9517367 L770,57 L774,57 Z M778,52.0325815 L778,61 L766,61 L766,52.0325815 C763.701797,51.2681747 761.576591,50.0699373 759.733479,48.5102822 L752.050327,52.9461524 L746.050327,42.5538476 L753.480753,38.2638887 C753.162518,36.8766734 753,35.44867 753,34 C753,32.8612801 753.100406,31.7349652 753.298169,30.6306958 L746.050327,26.4461524 L752.050327,16.0538476 L759.051029,20.0957047 C761.04162,18.2409326 763.409744,16.8290131 766,15.9674311 L766,8 L778,8 L778,15.9674311 C780.590256,16.8290131 782.95838,18.2409326 784.948971,20.0957047 L791.949673,16.0538476 L797.949673,26.4461524 L790.701831,30.6306958 C790.899594,31.7349652 791,32.8612801 791,34 C791,35.44867 790.837482,36.8766734 790.519247,38.2638887 L797.949673,42.5538476 L791.949673,52.9461524 L784.266521,48.5102822 C782.423409,50.0699373 780.298203,51.2681747 778,52.0325815 Z" id="Combined-Shape"></path>
                                            <path d="M772,42 C767.581722,42 764,38.418278 764,34 C764,29.581722 767.581722,26 772,26 C776.418278,26 780,29.581722 780,34 C780,38.418278 776.418278,42 772,42 Z M772,38 C774.209139,38 776,36.209139 776,34 C776,31.790861 774.209139,30 772,30 C769.790861,30 768,31.790861 768,34 C768,36.209139 769.790861,38 772,38 Z" id="Oval-5"></path>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        <%end%>
                    <%end%>
                </div>
            
            </div>
            
            <div class="col xl2 s2 m2 sub-logo-sec">
                <a href="/posts">
                        
                <svg width="60px" height="72px" viewBox="0 0 119 72" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Desktop-HD" transform="translate(-392.000000, -18.000000)" fill="#000000">
                            <g id="Page-1" transform="translate(392.000000, 18.000000)">
                                <path d="M21.2760099,72 C17.1802215,72 13.5174759,71.8417587 10.6121025,71.7153475 C9.50594063,71.6671475 8.50486869,71.6234947 7.62700561,71.5953023 C3.91080916,71.4752572 1,68.4532112 1,64.7145321 L1,43 L9.15352707,43 L9.15352707,63.4613334 C9.72065018,63.4840692 10.3249171,63.5104428 10.9627041,63.5377258 C19.9460791,63.9269631 36.6653393,64.6526907 49.4083962,59.5353111 L53.1925387,58.0156485 L54.7072828,61.8152597 C55.5434723,63.9142311 54.5269993,66.2960361 52.4369785,67.1354428 L52.4360726,67.1354428 C42.4171997,71.157865 30.7023932,72 21.2760099,72" id="Fill-1"></path>
                                <g id="Group-5">
                                    <path d="M3.5569814,37.0619429 L-0.000181395349,36.601419 L-0.000181395349,0.452561905 L8.1626093,0.452561905 L8.1626093,29.3253238 C15.466493,29.8310857 27.9165628,29.6944667 33.2414233,25.3488952 L38.4102837,31.6514667 C32.3380744,36.6059429 22.021214,37.6925619 14.1414,37.6925619 C8.79114419,37.6925619 4.56463256,37.1922286 3.5569814,37.0619429 Z" id="Fill-3"></path>
                                </g>
                                <polygon id="Fill-6" points="48.3414634 14.0909091 48.3414634 0 40 0 40 40 48.3414634 40 48.3414634 22.2727273 59 22.2727273 59 14.0909091"></polygon>
                                <path d="M75.9746393,63 C70.1834282,63 65.7300999,62.427843 65.519233,62.3997783 L62,61.9398799 L62,14 L70.0757515,14 L70.0757515,54.6593626 C77.3008572,55.1654319 89.6181728,55.0278245 94.8862547,50.6805173 L100,56.9860139 C95.5493636,60.6597691 88.3072091,62.6704665 78.4736357,62.9628822 C77.620298,62.9891363 76.7840091,63 75.9746393,63" id="Fill-8"></path>
                                <polygon id="Fill-10" points="110.27027 39.828125 110.27027 14 102 14 102 72 110.27027 72 110.27027 47.984375 119 47.984375 119 39.828125"></polygon>
                            </g>
                        </g>
                    </g>
                </svg>
                </a>
            </div>
            
                
            
        </div>
    </div>
  </div>

<%= yield %>

<div class="footer">
    <span class="f-left">
        
        <svg class="f-logo" width="120px" height="78px" viewBox="0 0 120 78" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1" points="0.651085368 0.529444419 52.813143 0.529444419 52.813143 32.3425782 0.651085368 32.3425782 0.651085368 0.529444419"></polygon>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Desktop-HD" transform="translate(-248.000000, -51.000000)">
                    <g id="Page-1-Copy" transform="translate(248.000000, 51.000000)">
                        <g id="Group-3" transform="translate(0.000000, 0.346020)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <g id="Clip-2"></g>
                            <path d="M20.2361533,32.3425782 C16.2815098,32.3425782 12.7451711,32.188558 9.93867813,32.0686672 C8.87016303,32.0222862 7.90141101,31.9802807 7.05254971,31.9531521 C3.46282904,31.837637 0.651085368,28.9296307 0.651085368,25.3311588 L0.651085368,0.528656816 L8.52711805,0.528656816 L8.52711805,24.1252507 C9.07581499,24.1480037 9.66039164,24.1725069 10.2790978,24.1996355 C18.9532351,24.5741846 35.1034777,25.271651 47.4119665,20.3482555 L51.0673208,18.8859388 L52.5305126,22.5421682 C53.3382435,24.5610579 52.3554897,26.8538585 50.3366,27.6607143 L50.3366,27.6607143 C40.6595812,31.5322219 29.3417222,32.3425782 20.2361533,32.3425782" id="Fill-1" fill="#fff" mask="url(#mask-2)"></path>
                        </g>
                        <path d="M20.2370284,76.9724674 C16.2806347,76.9724674 12.7425458,76.8201974 9.93605278,76.6994316 C8.86753768,76.6530505 7.90053589,76.611045 7.05254971,76.5839164 C3.46282904,76.4684013 0.651085368,73.5595199 0.651085368,69.9619232 L0.651085368,49.0676836 L8.52711805,49.0676836 L8.52711805,68.7560151 C9.07493988,68.7787681 9.65864141,68.8041464 10.2747222,68.8295247 C18.95236,69.2040738 35.1026025,69.9032905 47.4119665,64.9790198 L51.0673208,63.515828 L52.5305126,67.1729325 C53.3382435,69.1918222 52.3563648,71.4846228 50.3374751,72.2914786 L50.3366,72.2914786 C40.658706,76.1621111 29.3425973,76.9724674 20.2370284,76.9724674" id="Fill-4" fill="#fff"></path>
                        <g id="Group-8" transform="translate(0.000000, 36.225725)" fill="#fff">
                            <path d="M58.6737306,0.467573807 L29.8334492,0.467573807 L25.9461895,0.366935611 L25.9435641,0.467573807 L-8.75114742e-05,0.467573807 L-8.75114742e-05,8.34360649 L25.7370371,8.34360649 L25.2968543,25.172063 L29.2339956,25.2762016 C31.4086557,25.332209 33.2166428,23.616109 33.2735252,21.4423239 L33.6156951,8.34360649 L54.7357143,8.34360649 C56.9094993,8.34360649 58.6737306,6.58025028 58.6737306,4.40559015 L58.6737306,0.467573807 Z" id="Fill-6"></path>
                        </g>
                        <path d="M71.1556672,42.4076229 C70.0880272,42.3612418 69.1184001,42.3183611 68.2704139,42.2912326 C64.6798181,42.1765926 61.8680744,39.2677112 61.8680744,35.6692393 L61.8680744,10.8667373 L69.7441071,10.8667373 L69.7441071,34.4642063 C70.2928041,34.4869593 70.8782558,34.5114625 71.4960868,34.537716 C80.1710993,34.9131402 96.322217,35.6097315 108.628956,30.6872111 L112.28431,29.2240193 L113.747502,32.8811238 C114.555233,34.8991384 113.573354,37.191939 111.554464,37.9987948 C101.877445,41.8703024 90.5595864,42.6806587 81.4540175,42.6806587 C77.4984989,42.6806587 73.9621602,42.5275136 71.1556672,42.4076229 Z" id="Fill-9" fill="#fff"></path>
                        <g id="Group-13" transform="translate(60.382917, 45.851987)" fill="#fff">
                            <path d="M59.5078025,0.834159372 L30.6465183,0.834159372 L26.7522577,0.75802439 L0.833984349,0.834159372 L0.833984349,8.71019205 L26.5991126,8.71019205 L26.1580548,31.4264205 L30.0943209,31.5034306 C32.268981,31.5454361 34.0664667,29.8170845 34.1084722,27.6424244 L34.4760204,8.71019205 L55.5697861,8.71019205 C57.7444463,8.71019205 59.5078025,6.94683585 59.5078025,4.77217571 L59.5078025,0.834159372 Z" id="Fill-11"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        
    </span>
    <span class="f-right">
        <span class="f-right">Team NoonnuNanna 2017<br>
        Yoon Minji | Lee Hyunji | Kim Dongjin<br>
        폰트 제보 | <a class="f-link" href="https://open.kakao.com/o/stwEGqy" target="_blank">
                    눈누난나 오픈채팅</a><br>
    후원계좌 : 우리은행 1002-451-870282 [윤민지]</span>
    </span>

</div>
</body>
</html>
